@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: $medium-orange;
    }

    to {
        border-right-color: transparent;
    }
}

[data-aos="progress"] {
    width: 0%;
    transition-property: transform, width;

    &.aos-animate {
        width: 100%;
    }
}