.modal {
    display: none;
    position: fixed;
    z-index: 98;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 0 auto;
        min-width: 576px;
        max-width: 700px;
        background-clip: content-box;

        .image-wrapper {
            height: 300px;
            width: 100%;
            border-bottom: 5px solid $medium-orange;
        }

        .project-company {
            color: #888888;
        }

        .project-description {
            line-height: 1.5em;
        }

        .modal-footer {
            background-color: #fefefe;

            .project-url a:not(:empty) {
                @extend %button;
                border-color: $medium-orange !important;
                margin-top: 0 !important;
                text-decoration: none;
                background: $medium-orange !important;
                color: #ffffff;

                &:visited {
                    color: #ffffff;
                }

                &:hover {
                    background: #fff !important;
                    color: #000000 !important;
                }

                transition: .2s all ease;
            }

            .close-modal {
                @extend %button;
                border-color: $red !important;
                margin-top: 0 !important;

                &.button:hover {
                    background: $red;
                    color: #ffffff;
                }
            }
        }
    }
}