/* 
  ##Screen = Small Screen
*/

@media (min-width: 320px) and (max-width: 575px) {

    .intro {
        padding: 0px 10px;

        h2 {
            font-size: 1rem;
        }
    }

    #navbar {
        nav.nav.sticky {
            position: fixed;
            top: 0;
            left: 0;
            align-items: flex-end;
            background: #2f4258;

            ul.page-links-wrapper {
                background: #222222;
                position: absolute;
                top: 60px;
                height: 0;
                -webkit-transition: height .3s;
                -moz-transition: height .3s;
                transition: height .3s;
                overflow: auto;

                li.page-link {
                    display: block;
                    padding: 20px 0;
                    margin: 0 0 0 30px;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ffffff;
                    }
                }

                &.show {
                    height: 180px;

                    +i.fa-bars {
                        color: $medium-orange;
                    }
                }
            }

            i.fa-bars {
                display: initial;
                font-size: 2rem;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }

    #about {
        .profile-info {
            ul.subcategory {
                min-width: 300px;
            }
        }

        .timeline {
            width: 100% !important;

            &::after {
                left: 31px;
            }

            .content-wrapper {
                width: 100%;
                padding-left: 70px;
                padding-right: 15px;
                left: 0%;

                &::before {
                    left: 60px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }

                &::after {
                    left: 3px;
                }
            }
        }
    }

    #projects {
        &.projects {
            .project {
                .image-wrapper:hover {
                    .project-info {
                        display: flex;
                    }
                }

                .project-info {
                    opacity: initial;
                    visibility: initial;
                    display: none;
                }
            }
        }
    }

    #project-modal {
        &.modal {
            height: 100%;

            .modal-content {
                min-height: 100%;
                width: 100%;
                overflow: auto;
                min-width: initial;
            }

            .modal-footer {
                width: 100%;
                border-top: 1px solid #ccc;
                padding-top: 1.5rem;
            }
        }
    }
}

@media (min-width: 420px) and (max-width: 767px) {

    .intro h2 {
        font-size: 1.2rem;
    }
}