@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');
@import './typography.scss';
@import './variables.scss';
@import './animation.scss';
@import './modal.scss';
@import './responsiveness.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    &.modal-open {
        overflow: hidden;
    }
}

.wrapper {
    section {
        &:not(.navbar) {
            min-height: 100vh;
            overflow: auto;
            overflow-x: hidden;

            &:not(:first-of-type):not(:last-of-type) {
                border-bottom: 1px solid $light-orange;
            }
        }

        &.home {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            background: -webkit-linear-gradient(to right, #252934, #032323);
            background: linear-gradient(to right, #252934, #031423);

            .intro {
                text-align: center;

                h2 {
                    margin: 0 auto;
                    border-right: 2px solid rgba(255, 255, 255, .75);
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;

                    -webkit-animation: typewriter 2.5s steps(44) 1s 1 normal both,
                        blinkTextCursor 500ms steps(44) 8 normal forwards;
                    -moz-animation: typewriter 2.5s steps(44) 1s 1 normal both,
                        blinkTextCursor 500ms steps(44) 8 normal forwards;
                    animation: typewriter 2.5s steps(44) 1s 1 normal both,
                        blinkTextCursor 500ms steps(44) 8 normal forwards;

                    .name {
                        color: $medium-orange;
                    }
                }

                .view-work {
                    @extend %button;
                    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
                    -moz-animation: 3s ease 0s normal forwards 1 fadein;
                    animation: 3s ease 0s normal forwards 1 fadein;

                    &:hover {
                        background: $medium-orange;
                        border-color: $medium-orange;

                        i.fa-arrow-right {
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }

                    i.fa-arrow-right {
                        -webkit-transition: transform .3s;
                        -moz-transition: transform .3s;
                        transition: transform .3s;
                    }

                }
            }
        }

        &.navbar {
            z-index: 99;

            nav.nav {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 60px;
                width: 100%;
                background: #14191f;
                color: #ffffff;
                border-bottom: 3px solid $medium-orange;
                z-index: 99;

                ul.page-links-wrapper {
                    width: 100%;

                    li.page-link {
                        display: inline;
                        margin: 0 15px;
                        cursor: pointer;

                        &.active,
                        &:hover {
                            color: $medium-orange;
                            -webkit-transition: .7s color ease;
                            -moz-transition: .7s color ease;
                            transition: .7s color ease;
                        }
                    }
                }

                i.fa-bars {
                    display: none;
                }
            }

            &.fixed {
                position: fixed;
                top: 0;
                width: 100%;

                &:not(.mobile) {
                    +.about {
                        padding-top: 60px;
                    }
                }
            }
        }

        &.about {
            background: -webkit-linear-gradient(to left, #252934, #032323);
            background: linear-gradient(to left, #252934, #031423);

            .profile {
                color: #ffffff;
                margin-bottom: 3em;

                .profile-picture {
                    position: relative;
                    display: inherit;

                    img {
                        border-radius: 50%;
                    }

                    .picture-overflow-text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgba(255, 167, 27, 0.7);
                        border-radius: 50%;
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: .7s all ease;
                        -moz-transition: .7s all ease;
                        transition: .7s all ease;

                        p {
                            font-size: 1.2rem;
                            font-weight: 600;
                            padding: 0 10px;
                            text-align: center;
                        }
                    }

                    &:hover {
                        .picture-overflow-text {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .profile-info {
                    ul.subcategory {
                        min-width: 400px;
                        list-style: none;

                        li {
                            display: flex;
                            border: 1px solid #fff;
                            font-size: 0.9rem;
                            margin: 10px 0;
                            position: relative;
                            background: #0e1b29;
                            height: 20px;

                            span.title {
                                font-weight: 500;
                                top: 0;
                                left: 0;
                                background: $light-orange;
                                color: black;
                                height: 100%;
                                display: inline-flex;
                                align-items: center;
                                padding: 0 6px;
                                border-right: 1px solid #444444;
                                z-index: 1;
                                min-width: 90px;
                            }

                            div.progress {
                                position: relative;
                                top: 0;
                                left: 0;
                                background: $medium-orange;
                                height: 100%;
                            }

                            span.remaining-percent {
                                position: absolute;
                                right: 0;
                                top: 0;
                                background: #121d2a;
                                height: 100%;
                            }

                            span.percentage {
                                font-weight: 500;
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 100%;
                                margin-right: 5px;
                                display: inline-flex;
                                z-index: 2;
                            }
                        }
                    }
                }
            }

            .timeline {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    background-color: $light-orange;
                    top: 0;
                    bottom: 0;
                    left: 31px;
                    margin-left: -3px;
                }

                .content-wrapper {
                    padding: 10px 30px;
                    position: relative;
                    background-color: inherit;
                    width: calc(100% - 31px);
                    left: 31px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        right: -17px;
                        background-color: $light-orange;
                        border: 4px solid #FF9F55;
                        top: 15px;
                        border-radius: 50%;
                        left: -27px;
                    }

                    .content {
                        padding: 20px 30px;
                        background-color: white;
                        position: relative;
                        border-radius: 6px;

                        p {
                            display: list-item;
                            list-style-type: square;
                        }

                        .content-extra-info {
                            line-height: 1.6em;
                            display: inline-block;
                            font-size: .7rem;
                            color: #888888
                        }
                    }
                }
            }
        }

        &.projects {
            background: -webkit-linear-gradient(to right, #252934, #032323);
            background: linear-gradient(to right, #252934, #031423);

            .project {
                margin-bottom: 1.8rem;

                .image-wrapper {
                    display: grid;
                    position: relative;
                    border: 1px solid $medium-orange;
                    border-radius: 2px;
                    overflow: hidden;
                    background: #f5f5f5;

                    img {
                        max-width: 100%;
                    }

                    &:hover {
                        .project-info {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .project-info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    background: $dark-navy;
                    color: #ffffff;
                    flex-direction: column;
                    text-align: center;

                    transition: all .6s ease;

                    .view-project {
                        @extend %button;

                        &.button {
                            border-width: 2px;
                            border-color: $medium-orange;
                            margin: 20px 15% 0 15%;

                            &:hover {
                                color: white;
                                background: $medium-orange;
                            }
                        }
                    }
                }
            }
        }

        &.contact {
            background: #1b232e;
        }
    }

    footer {
        padding: 50px 0;
        background: #1b1b1b;
        color: #ffffff;
        border-top: 1px solid $medium-orange;

        .social-wrapper {
            .icon {
                margin: 0px 7px;
                cursor: pointer;

                a {
                    text-decoration: initial;
                    color: #fff;

                    &:hover {
                        i {
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            transform: scale(1.2);

                        }

                        color: $medium-orange;
                    }
                }

                i {
                    font-size: 2.4rem;
                    -webkit-transition: .4s transform ease;
                    -moz-transition: .4s transform ease;
                    transition: .4s transform ease;
                }


            }
        }
    }
}

h2.title {
    text-align: center;
    color: #ffffff;
    padding: 60px 0 30px 0;
    text-decoration: underline;
}

.subtitle {
    text-align: center;
    color: #fff;
}

hr {
    background-color: #cacaca;
    height: 1px;
    border: 0;
}

%button {
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 15px;
    cursor: pointer;
}