@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.9rem; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1,
.h1 {
  font-size: 2.5rem; }

h2,
.h2 {
  font-size: 2rem; }

h3,
.h3 {
  font-size: 1.75rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.25rem; }

h6,
.h6 {
  font-size: 1rem; }

.text-center {
  text-align: center; }

@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: #ffa71b; }
  to {
    border-right-color: transparent; } }
[data-aos="progress"] {
  width: 0%;
  transition-property: transform, width; }
  [data-aos="progress"].aos-animate {
    width: 100%; }

.modal {
  display: none;
  position: fixed;
  z-index: 98;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    min-width: 576px;
    max-width: 700px;
    background-clip: content-box; }
    .modal .modal-content .image-wrapper {
      height: 300px;
      width: 100%;
      border-bottom: 5px solid #ffa71b; }
    .modal .modal-content .project-company {
      color: #888888; }
    .modal .modal-content .project-description {
      line-height: 1.5em; }
    .modal .modal-content .modal-footer {
      background-color: #fefefe; }
      .modal .modal-content .modal-footer .project-url a:not(:empty) {
        border-color: #ffa71b !important;
        margin-top: 0 !important;
        text-decoration: none;
        background: #ffa71b !important;
        color: #ffffff;
        transition: .2s all ease; }
        .modal .modal-content .modal-footer .project-url a:not(:empty):visited {
          color: #ffffff; }
        .modal .modal-content .modal-footer .project-url a:not(:empty):hover {
          background: #fff !important;
          color: #000000 !important; }
      .modal .modal-content .modal-footer .close-modal {
        border-color: #dc2012 !important;
        margin-top: 0 !important; }
        .modal .modal-content .modal-footer .close-modal.button:hover {
          background: #dc2012;
          color: #ffffff; }

/* 
  ##Screen = Small Screen
*/
@media (min-width: 320px) and (max-width: 575px) {
  .intro {
    padding: 0px 10px; }
    .intro h2 {
      font-size: 1rem; }

  #navbar nav.nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-end;
    background: #2f4258; }
    #navbar nav.nav.sticky ul.page-links-wrapper {
      background: #222222;
      position: absolute;
      top: 60px;
      height: 0;
      -webkit-transition: height .3s;
      -moz-transition: height .3s;
      transition: height .3s;
      overflow: auto; }
      #navbar nav.nav.sticky ul.page-links-wrapper li.page-link {
        display: block;
        padding: 20px 0;
        margin: 0 0 0 30px; }
        #navbar nav.nav.sticky ul.page-links-wrapper li.page-link:not(:last-of-type) {
          border-bottom: 1px solid #ffffff; }
      #navbar nav.nav.sticky ul.page-links-wrapper.show {
        height: 180px; }
        #navbar nav.nav.sticky ul.page-links-wrapper.show + i.fa-bars {
          color: #ffa71b; }
    #navbar nav.nav.sticky i.fa-bars {
      display: initial;
      font-size: 2rem;
      margin-right: 20px;
      cursor: pointer; }

  #about .profile-info ul.subcategory {
    min-width: 300px; }
  #about .timeline {
    width: 100% !important; }
    #about .timeline::after {
      left: 31px; }
    #about .timeline .content-wrapper {
      width: 100%;
      padding-left: 70px;
      padding-right: 15px;
      left: 0%; }
      #about .timeline .content-wrapper::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent; }
      #about .timeline .content-wrapper::after {
        left: 3px; }

  #projects.projects .project .image-wrapper:hover .project-info {
    display: flex; }
  #projects.projects .project .project-info {
    opacity: initial;
    visibility: initial;
    display: none; }

  #project-modal.modal {
    height: 100%; }
    #project-modal.modal .modal-content {
      min-height: 100%;
      width: 100%;
      overflow: auto;
      min-width: initial; }
    #project-modal.modal .modal-footer {
      width: 100%;
      border-top: 1px solid #ccc;
      padding-top: 1.5rem; } }
@media (min-width: 420px) and (max-width: 767px) {
  .intro h2 {
    font-size: 1.2rem; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

body.modal-open {
  overflow: hidden; }

.wrapper section:not(.navbar) {
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden; }
  .wrapper section:not(.navbar):not(:first-of-type):not(:last-of-type) {
    border-bottom: 1px solid #fff2dc; }
.wrapper section.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: -webkit-linear-gradient(to right, #252934, #032323);
  background: linear-gradient(to right, #252934, #031423); }
  .wrapper section.home .intro {
    text-align: center; }
    .wrapper section.home .intro h2 {
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typewriter 2.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 8 normal forwards;
      -moz-animation: typewriter 2.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 8 normal forwards;
      animation: typewriter 2.5s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) 8 normal forwards; }
      .wrapper section.home .intro h2 .name {
        color: #ffa71b; }
    .wrapper section.home .intro .view-work {
      -webkit-animation: 3s ease 0s normal forwards 1 fadein;
      -moz-animation: 3s ease 0s normal forwards 1 fadein;
      animation: 3s ease 0s normal forwards 1 fadein; }
      .wrapper section.home .intro .view-work:hover {
        background: #ffa71b;
        border-color: #ffa71b; }
        .wrapper section.home .intro .view-work:hover i.fa-arrow-right {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          transform: rotate(90deg); }
      .wrapper section.home .intro .view-work i.fa-arrow-right {
        -webkit-transition: transform .3s;
        -moz-transition: transform .3s;
        transition: transform .3s; }
.wrapper section.navbar {
  z-index: 99; }
  .wrapper section.navbar nav.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #14191f;
    color: #ffffff;
    border-bottom: 3px solid #ffa71b;
    z-index: 99; }
    .wrapper section.navbar nav.nav ul.page-links-wrapper {
      width: 100%; }
      .wrapper section.navbar nav.nav ul.page-links-wrapper li.page-link {
        display: inline;
        margin: 0 15px;
        cursor: pointer; }
        .wrapper section.navbar nav.nav ul.page-links-wrapper li.page-link.active, .wrapper section.navbar nav.nav ul.page-links-wrapper li.page-link:hover {
          color: #ffa71b;
          -webkit-transition: .7s color ease;
          -moz-transition: .7s color ease;
          transition: .7s color ease; }
    .wrapper section.navbar nav.nav i.fa-bars {
      display: none; }
  .wrapper section.navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%; }
    .wrapper section.navbar.fixed:not(.mobile) + .about {
      padding-top: 60px; }
.wrapper section.about {
  background: -webkit-linear-gradient(to left, #252934, #032323);
  background: linear-gradient(to left, #252934, #031423); }
  .wrapper section.about .profile {
    color: #ffffff;
    margin-bottom: 3em; }
    .wrapper section.about .profile .profile-picture {
      position: relative;
      display: inherit; }
      .wrapper section.about .profile .profile-picture img {
        border-radius: 50%; }
      .wrapper section.about .profile .profile-picture .picture-overflow-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 167, 27, 0.7);
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .7s all ease;
        -moz-transition: .7s all ease;
        transition: .7s all ease; }
        .wrapper section.about .profile .profile-picture .picture-overflow-text p {
          font-size: 1.2rem;
          font-weight: 600;
          padding: 0 10px;
          text-align: center; }
      .wrapper section.about .profile .profile-picture:hover .picture-overflow-text {
        opacity: 1;
        visibility: visible; }
    .wrapper section.about .profile .profile-info ul.subcategory {
      min-width: 400px;
      list-style: none; }
      .wrapper section.about .profile .profile-info ul.subcategory li {
        display: flex;
        border: 1px solid #fff;
        font-size: 0.9rem;
        margin: 10px 0;
        position: relative;
        background: #0e1b29;
        height: 20px; }
        .wrapper section.about .profile .profile-info ul.subcategory li span.title {
          font-weight: 500;
          top: 0;
          left: 0;
          background: #fff2dc;
          color: black;
          height: 100%;
          display: inline-flex;
          align-items: center;
          padding: 0 6px;
          border-right: 1px solid #444444;
          z-index: 1;
          min-width: 90px; }
        .wrapper section.about .profile .profile-info ul.subcategory li div.progress {
          position: relative;
          top: 0;
          left: 0;
          background: #ffa71b;
          height: 100%; }
        .wrapper section.about .profile .profile-info ul.subcategory li span.remaining-percent {
          position: absolute;
          right: 0;
          top: 0;
          background: #121d2a;
          height: 100%; }
        .wrapper section.about .profile .profile-info ul.subcategory li span.percentage {
          font-weight: 500;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          margin-right: 5px;
          display: inline-flex;
          z-index: 2; }
  .wrapper section.about .timeline {
    position: relative; }
    .wrapper section.about .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #fff2dc;
      top: 0;
      bottom: 0;
      left: 31px;
      margin-left: -3px; }
    .wrapper section.about .timeline .content-wrapper {
      padding: 10px 30px;
      position: relative;
      background-color: inherit;
      width: calc(100% - 31px);
      left: 31px; }
      .wrapper section.about .timeline .content-wrapper::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: #fff2dc;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        left: -27px; }
      .wrapper section.about .timeline .content-wrapper .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px; }
        .wrapper section.about .timeline .content-wrapper .content p {
          display: list-item;
          list-style-type: square; }
        .wrapper section.about .timeline .content-wrapper .content .content-extra-info {
          line-height: 1.6em;
          display: inline-block;
          font-size: .7rem;
          color: #888888; }
.wrapper section.projects {
  background: -webkit-linear-gradient(to right, #252934, #032323);
  background: linear-gradient(to right, #252934, #031423); }
  .wrapper section.projects .project {
    margin-bottom: 1.8rem; }
    .wrapper section.projects .project .image-wrapper {
      display: grid;
      position: relative;
      border: 1px solid #ffa71b;
      border-radius: 2px;
      overflow: hidden;
      background: #f5f5f5; }
      .wrapper section.projects .project .image-wrapper img {
        max-width: 100%; }
      .wrapper section.projects .project .image-wrapper:hover .project-info {
        opacity: 1;
        visibility: visible; }
    .wrapper section.projects .project .project-info {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      background: #1b232d;
      color: #ffffff;
      flex-direction: column;
      text-align: center;
      transition: all .6s ease; }
      .wrapper section.projects .project .project-info .view-project.button {
        border-width: 2px;
        border-color: #ffa71b;
        margin: 20px 15% 0 15%; }
        .wrapper section.projects .project .project-info .view-project.button:hover {
          color: white;
          background: #ffa71b; }
.wrapper section.contact {
  background: #1b232e; }
.wrapper footer {
  padding: 50px 0;
  background: #1b1b1b;
  color: #ffffff;
  border-top: 1px solid #ffa71b; }
  .wrapper footer .social-wrapper .icon {
    margin: 0px 7px;
    cursor: pointer; }
    .wrapper footer .social-wrapper .icon a {
      text-decoration: initial;
      color: #fff; }
      .wrapper footer .social-wrapper .icon a:hover {
        color: #ffa71b; }
        .wrapper footer .social-wrapper .icon a:hover i {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          transform: scale(1.2); }
    .wrapper footer .social-wrapper .icon i {
      font-size: 2.4rem;
      -webkit-transition: .4s transform ease;
      -moz-transition: .4s transform ease;
      transition: .4s transform ease; }

h2.title {
  text-align: center;
  color: #ffffff;
  padding: 60px 0 30px 0;
  text-decoration: underline; }

.subtitle {
  text-align: center;
  color: #fff; }

hr {
  background-color: #cacaca;
  height: 1px;
  border: 0; }

.modal .modal-content .modal-footer .project-url a:not(:empty), .modal .modal-content .modal-footer .close-modal, .wrapper section.home .intro .view-work, .wrapper section.projects .project .project-info .view-project {
  display: inline-block;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #fff;
  margin-top: 15px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
